<form class="trip-filters" action="#" method="get">
  <div
   class="trip-filters__filter"
   *ngFor="let filter of filters"
  >
    <input
      id="{{ 'filter-' + filter }}"
      class="trip-filters__filter-input  visually-hidden"
      type="radio"
      name="trip-filter"
      value="{{ filter }}"
      [checked]="filter === filterCheckedOnInit"
      (click)="onFilterClick(filter)"
    />
    <label
     class="trip-filters__filter-label"
    for="{{ 'filter-' + filter }}"
    >
      {{ filter }}
    </label>
  </div>
  <button class="visually-hidden" type="submit">Accept filter</button>
</form>
