<form class="trip-events__trip-sort  trip-sort" action="#" method="get">
  <span class="trip-sort__item  trip-sort__item--day"></span>

  <div
    *ngFor="let sorting of sortingTypes"
    class="{{ 'trip-sort__item  trip-sort__item--' + sorting.name }}"
  >
    <input
      id="{{ 'sort-' + sorting.name }}"
      class="trip-sort__input  visually-hidden"
      type="radio"
      name="trip-sort"
      value="{{ sorting.name }}"
      [checked]="sorting.checked"
      (click)="onSortingClick(sorting.name)"
    >
    <label class="trip-sort__btn" for="{{ 'sort-' + sorting.name }}">
      {{ sorting.name }}
    </label>
  </div>
  
  <span class="trip-sort__item  trip-sort__item--offers">Offers</span>
</form>