<form class="trip-events__trip-sort  trip-sort" action="#" method="get">
  <span class="trip-sort__item  trip-sort__item--day"></span>

  <div
    *ngFor="let sorting of sortingTypes"
    class="{{ 'trip-sort__item  trip-sort__item--' + sorting }}"
  >
    <input
      id="{{ 'sort-' + sorting }}"
      class="trip-sort__input  visually-hidden"
      type="radio"
      name="trip-sort"
      value="{{ sorting }}"
      [checked]="sorting === sortingCheckedOnInit"
      (click)="onSortingClick(sorting)"
    >
    <label class="trip-sort__btn" for="{{ 'sort-' + sorting }}">
      {{ sorting }}
    </label>
  </div>

  <span class="trip-sort__item  trip-sort__item--offers">Offers</span>
</form>