<header class="page-header">
  <div class="page-body__container  page-header__container">
    <img class="page-header__logo" src="/assets/img/logo.png" width="42" height="42" alt="Trip logo">

    <div class="trip-main">
      <app-header-info class="trip-main__trip-info  trip-info"></app-header-info>
      <div class="trip-main__trip-controls  trip-controls">
        <h2 class="visually-hidden">Switch trip view</h2>
        <app-header-menu class="trip-controls__trip-tabs  trip-tabs"></app-header-menu>

        <h2 class="visually-hidden">Filter events</h2>
        <app-header-filter></app-header-filter>
      </div>

      <button class="trip-main__event-add-btn  btn  btn--big  btn--yellow" type="button">New event</button>
    </div>
  </div>
</header>
<main class="page-body__page-main  page-main">
  <div class="page-body__container">
      <section class="trip-events">
        <h2 class="visually-hidden">Trip events</h2>
        <app-trip-sorting></app-trip-sorting>

        <app-trip-list></app-trip-list>
      </section>
  </div>
</main>